.venv/
.tmp/
.pytest_tmp/
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
runs/
/data/
.worktrees/
pip-build-tracker-*/
pip-ephem-wheel-cache-*/
pip-install-*/
pytest-cache-files-*/
src/tn_dl.egg-info/dependency_links.txt
src/tn_dl.egg-info/PKG-INFO
src/tn_dl.egg-info/requires.txt
src/tn_dl.egg-info/SOURCES.txt
src/tn_dl.egg-info/top_level.txt
